body {
    margin: 2px auto;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: #004050;
    background-color: #999999;
}

label {
    margin: inherit;
    display: block;
}

button {
    margin: 20px auto;
}

p {
    font-size: 18px;    
    font-family: sans-serif;
}

.description {
    margin: -20px 10px -15px;
    background-color: #252525;
}
.slider {
  -webkit-appearance: none;
  margin: inherit;
  text-align: center;
  appearance: none;
  width: 50%;
  height: 10%;
  background: #d3d3d3;
  opacity: 0.6;
  transition: opacity .3s;
}

.slider:hover{
    opacity: 1;
}


.speedSwitch {
    display: block;
}

.hannibal {
    margin: inherit;
    border: 2px solid;
    border-color: black;
    background-color: #444444;
    color: rgb(0, 110, 110);
    width: 60%;
}
