body {
    margin: 0px auto 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: #01566b;
    background-color: #999999;
}

label {
    margin: inherit;
    display: block;
}

button {
    margin: 20px auto;
}

p {
    font-size: 18px;
    color: #01566b;
    font-family: sans-serif;
}

speedSliderLabel {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  transition: opacity .3s;
}

speedSliderLabel:hover{
    opacity: 1;
}

.description {
    margin: inherit;
    background-color: #777777;
}

.hannibal {
    margin: inherit;
    border: 2px solid;
    border-color: black;
    background-color: #444444;
    width: 60%;
}
